<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>汽车舆情分析系统</title>
</head>
<body>
	<form method="POST" action="/visual">
		<label for="series">series <%=title%></label>
		<input name="sereis" type="text"></input>
		<button>submit</button>
	</form>
</body>
</html>